/* Imports */
@import "./components/responsivness";
@import "./components/variables";
@import "./components/animations";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.4rem;
  color: $Grayish-Violet;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $Gray;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Section one */
.top {
  position: relative;
  .login {
    border-radius: 2rem;
    padding: 0.75rem 2rem;
  }
  .sign-up {
    background: $Cyan;
    border-radius: 2rem;
    padding: 0.75rem 2rem;
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
  .desc {
    button {
      background: $Cyan;
      border-radius: 2rem;
      padding: 0.75rem 3rem;
      color: #fff;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .search {
    background-image: url(../images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Dark-Violet;
    padding: 2rem;
    margin-top: 5rem;
    position: absolute;
    bottom: -8rem;
    width: 100%;
    z-index: 2;
    button {
      width: 100%;
      background: $Cyan;
    }
  }
}

/* Section 2 - advanced statistics */
.advanced-stat {
  position: relative;
  background-color: $second-bg;
  margin-top: 5rem;
  min-height: 50vh;
  .title {
    margin-top: 5rem;
  }
  .cards {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    .card {
      position: relative;
      .img-bg {
        background-color: $Dark-Violet;
        border-radius: 50%;
        padding: 1rem;
        width: 20%;
        position: absolute;
        width: 20%;
        top: -2rem;
        left: 2rem;
      }
      .card-body {
        margin-top: 3rem;
        h5 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

/* Section three - boost your links today */
.boost-link {
  background-image: url(../images/bg-boost-desktop.svg);
  background-color: $Dark-Violet;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0rem;
  button {
    background: $Cyan;
    border-radius: 2rem;
    padding: 0.75rem 3rem;
    color: #fff;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* Section four - footer */
.footer {
  background-color: black;
  color: #fff;
  overflow: hidden;
  i {
    cursor: pointer;
    margin: 0 0.5rem;
    &:hover {
      color: $Cyan;
    }
  }
  ul {
    list-style: none;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: $Cyan;
      }
    }
  }
}

.search-results {
  margin-top: 5rem;
  .output {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 1rem 0;
    margin: 1rem 0;
    .shorten-url {
      color: $Cyan;
      text-align: center;
    }
    button {
      background-color: $Cyan;
      color: #fff;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
      text-align: center;
    }
  }
}

/* Modal */
.modal-content {
  padding: 2rem;
  color: $Dark-Violet;
  i {
    margin-left: 1rem;
  }
}

.line {
  height: 0.2rem;
  background-color: $Cyan;
  width: 2rem;
}
