/* laptop */
@media only screen and (max-width: 992px) {
  .top {
    .desc {
      margin: 2rem 0;
      justify-content: center;
      text-align: center;
      p {
        padding: 0 !important;
        margin: 1rem 0 2rem 0;
      }
      button {
        margin: 0 !important;
      }
    }
  }
  .search {
    button {
      margin-top: 1rem;
      width: 50% !important;
    }
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem !important;
  }
}

/* mobile */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3rem !important;
  }
  P {
    font-size: 1rem !important;
  }
  .top {
    .desc {
      button {
        width: 75%;
      }
    }
  }
  .search {
    button {
      margin-top: 1rem;
      width: 100% !important;
    }
  }
}
